.Loader{
    width: 100%;
    margin-block: 4rem;
}
.Loader_Box{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.Loader_Box_Image{
    margin-bottom: 14rem;
    margin-top: 2rem;
    animation: mymove 4s infinite;
}
@keyframes mymove{
    50% {transform:rotate(360deg);}
}
.Loader_Box_Image_img{
    border-radius: 50%;
}